node_modules/
.idea/
.vscode/
coverage/
test/
src/
example/
art/

npm-debug.log
docker-compose.yml
Dockerfile
.eslintrc
.istanbul.yml
.jscsrc
.travis.yml
.dockerignore
.editorconfig
.env
.npmignore

tsconfig.json
tslint.json

CONTRIBUTING.md

*.spec.js
*.spec.ts

